<table border="1" cellspacing="0" cellpadding="6" width="100%">
  <tr>
    <!-- Left column -->
    <td width="50%" valign="top">
      <p><b>Company's Bank Details</b></p>
      <p>
        Bank Name: IDFC FIRST BANK <br/>
        A/c No.: 10217596558 <br/>
        Branch &amp; IFS Code: DABWALI ROAD, SIRSA &amp; IDFB0021064
      </p>
      <p><b>Declaration</b></p>
      <p>
        We declare that this invoice shows the actual price of the goods
        described and that all particulars are true and correct.
      </p>
    </td>

    <!-- Right column -->
    <td width="50%" valign="top" align="right">
      <p>for OM ENTERPRISES</p>
      <br/><br/><br/>
      <p><b>Authorised Signatory</b></p>
    </td>
  </tr>
</table>
